.photo-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1184px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}.photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}.photo-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}.photo-grid > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}.photo-grid > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}.photo-grid > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}.photo-grid > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: 100%;
        max-width: 928px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: auto 14px auto 14px auto 14px auto;
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 7;
        -ms-grid-column: 5;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto;
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 9;
        -ms-grid-column: 3;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 11;
        -ms-grid-column: 3;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto 12px auto;
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
    .photo-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(4) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(5) {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(6) {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(7) {
        -ms-grid-row: 13;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(8) {
        -ms-grid-row: 15;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(9) {
        -ms-grid-row: 17;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(10) {
        -ms-grid-row: 19;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(11) {
        -ms-grid-row: 21;
        -ms-grid-column: 1;
    }
    .photo-grid > *:nth-child(12) {
        -ms-grid-row: 23;
        -ms-grid-column: 1;
    }
}


/*.photo-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: 100%;
        max-width: 928px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto);
        gap: 12px;
    }
}*/