.intro__lists {
    max-width: 640px;
    list-style: none;
    margin: 0;
    padding: 0 0 92px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__lists {
        max-width: 720px;
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro__lists {
        max-width: 288px;
        padding: 0 0 64px;
    }
}